#code_wrapper {
  /* background-color: #333; */
}

#code_wrapper .CodeMirror {
  background-color: #dddddd;
  border-radius: 5px;
}

#code_wrapper .CodeMirror-gutters {
  background-color: #d0d0d0;
}
#code2_wrapper .CodeMirror {
  background-color: #dddddd;
  border-radius: 5px;
}

#code2_wrapper .CodeMirror-gutters {
  background-color: #d0d0d0;
}

#preview-wrapper {
  background-color: #dddddd;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.highlight {
  padding: 5px;
  box-sizing: border-box;
}

#step-3 .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition-duration: 1s;
}

.step.section {
  padding: 0;
}